<div class="row">
  <div class="col s6">
    IMAGE
  </div>
  <div class="col s6">
    SEARCH USERS
    <%= render 'shared/search_user_form' %>

    <% @users.each do |user| %>
      <%= link_to "#{user.email}", user_path(user) %>
    <% end %>
  </div>
</div>